@import "tailwindcss";

@theme {
  --color-primary: #27F5A3;
  --color-secondary: #E630F0;
 
  /* Definimos variables de padding para usarlas luego */
  --spacing-container-sm: 2rem;
  --spacing-container-lg: 4rem;
  --spacing-container-xl: 5rem;
}


/* Personalizamos el comportamiento del contenedor */
@utility container {
  margin-inline: auto; /* Esto equivale a center: true */
  padding-inline: 2rem; /* Padding base */


  @media (width >= 640px) {
    padding-inline: var(--spacing-container-sm);
  }


  @media (width >= 1024px) {
    padding-inline: var(--spacing-container-lg);
  }


  @media (width >= 1280px) {
    padding-inline: var(--spacing-container-xl);
  }

  @keyframes entradaDeslizada {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

.navbar {
  animation: entradaDeslizada 1s ease-out;
}

}
